.quadradinho1{
    width: 100px;
    height: 100px;
    background: #dd6b4d;
}

.quadradinho2{
    width: 100px;
    height: 100px;
    background: #dd6b4d;
}

.quadradinho3{
    width: 100px;
    height: 100px;
    background: #dd6b4d;
}

.quadradinho4{
    width: 100px;
    height: 100px;
    background: #dd6b4d;
}