*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #E3516E;

    /* para centralizar na página */
    display: flex;
    justify-content: center;
    align-items: center;
}

.bolinha{

    /* definir como coluna e tamanho de cada uma */
    display: grid;
    grid-template-columns: 1fr 1fr;

    /* tamanho do círculo */
    height: 300px;
    width: 300px;

    /* borda da div fazendo um cículo total */
    border-radius: 100%;

    /* para esconder tudo que está fora da div bolinha */
    overflow: hidden;
}

/* definindo tamanho para o círculo aparecer */
div{
    height: 100%;
    width: 100%;
}

/* definindo as cores das partes do círculo */
#azul{
    background-color: #51B5A9;
}

#amarelo{
    background-color: #FADE8B;
}

#branco{
    background-color: #F7F3D7;
}